.profile__profession {
  grid-area: profession;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__profession {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  .profile__profession {
    text-align: center;
  }
}
