.popup__close-button {
  border: none;
  background-color: transparent;
  width: 40px;
  padding: 0 0 40px;
  position: absolute;
  overflow: hidden;
}

.popup__close-button::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: center / cover url(../../../images/icon-plus.svg) no-repeat;
  transform: rotate(45deg);
}


@media screen and (max-width: 600px) {
  .popup__close-button {
    width: 32px;
    padding-bottom: 32px;
  }
}
