.profile__image {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  /* Для работы вебпака вставляю изображение здесь */
  /* background-image: url(../../../images/konuhov.jpg); */
  background-position: top;
  background-size: cover;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
